<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.DAO.GetAdviseLRDAO">
    <select id="getL" resultType="String">
        select ids from adviselr where type="l";
    </select>
    <select id="getR" resultType="String">
        select ids from adviselr where type="r";
    </select>
</mapper>